<!DOCTYPE html>
<html>
	<head>
		<title>Guild Wars 2 API Browser</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	</head>
	<body ng-app="apiBrowser">
		<div ng-controller="browserController">
			<div class="container">
				<h1>Guild Wars 2 API Browser</h1> 
				<form>
					<div class="row">
						<div class="form-group col-xs-2">
							<label>Version</label>
							<select class="form-control" ng-change="LoadVersionEndpoints()" ng-model="selectedVersion" ng-options="ver for ver in versions">
							</select>
						</div>
						<div class="form-group col-xs-5">
							<label>Endpoint</label>
							<select class="form-control" ng-model="selectedEndpoint" ng-options="end.url for end in endpoints">
							</select>
						</div>
						<div class="form-group col-xs-2">
							<label>&nbsp;</label>
							<input type="button" class="form-control" ng-click="SearchAPI()" value="GET" />
						</div>
					</div>				
					<div class="row" ng-show="selectedEndpoint.parameters.length > 0">			
						<div class="form-group col-xs-4 parameter" ng-repeat="param in selectedEndpoint.parameters">
							<label title="{{ param.description }}">{{ param.name }} <span ng-show="{{ !param.required }}">(Optional)</span></label>
							<input type="text" class="form-control" id="{{ param.name  }}" />
						</div>		
					</div>
				</form>
				<div>
					{{ apiData }}
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-resource.min.js"></script>

		<script type="text/javascript" src="js/app/data/v2.json"></script>
		<script type="text/javascript" src="js/app/data/v1.json"></script>
		<script type="text/javascript" src="js/app/browserController.js"></script>
	</body>
</html>
